# Disable LiteSpeed reCAPTCHA / Bot Verification for all ERP and API requests
<IfModule Litespeed>
  RewriteEngine On
  RewriteRule ^(.*)$ - [E=verifycaptcha:bypass]
  RewriteRule ^api/ - [E=noconntimeout:1,E=noabort:1,E=verifycaptcha:bypass]
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>
